body{font-family: 'Montserrat', sans-serif;
margin-bottom: 0%;}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.navbar{padding-bottom: 4.5rem;}

.navbar-brand{font-family: 'ubuntu', sans-serif;
font-size: 1.7rem;

}
.nav-item{
  padding: 0 0.5rem 0 0.5rem;
}


.container-fluid {
  padding: 3% 15% 9%;
  
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-text { font-family: 'Montserrat', sans-serif;

line-height: 3rem;
padding: 5% 15%;

color: #fff;


}

.download-button{margin: 5% 3% 0% 0%;}

.iphoneimg{
  padding: 3% 3%;
  
}

.iphone {    width: 19%;
  margin-left: 3%;
  transform: rotate(27deg);
  margin-top: 3%;
  position: absolute;
  
}



@media (max-width: 992px) {
.coll{ text-align: center;}

  .iphone {    width: 39%;
    
    transform: rotate(0deg);
    margin-top: 3%;
    position: static;
    padding-top: 5%;
    /* margin-left: 31%; */
    
   

   }
  
}



#features { padding: 9% 15% 9%;
  position: relative;

background-color: #fff;
}

.feature-box{text-align: center;
  padding: 1rem 2rem;
  
}


.icon2{color: #ef8172;
  font-size: 400%;

}

.icon2:hover{color: #ff4c68;}


#para{
  color: #8f8f8f;
}
h3{font-size: 1.9rem;
   ;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.5rem
  ;}

  /* <!-- Testimonials --> */

  #testimonials{
    background-color: #ef8172 ;
     padding: 7% 15% 7% 15%;
     text-align: center;
     color: #fff;
  }

  .test-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
    /* margin-right: 2rem;
    margin-bottom: 4rem; */
    
  }

  #press{
    background-color:#ef8172 ;
    padding: 3% 15%;
    text-align: center;
  }

  .press-logo{
    
    width:15%;
    margin: 20px 20px 50px;
  }

  #pricing{
    text-align: center;
    padding: 10% 15%;
    
  }

  .card{
    padding: 2% 3%;
    margin-top: 3%;
    background-color: rgb(157, 211, 193);
  }

  .pricing-head{
padding-bottom: 2%;
font-size: 40px;
color: #657c9d;
  }

  .membership{color:#ffff;}


  #cta{
    padding: 2% 15%;
    text-align: center;
    background-color: #d6a8a8;}

    .ctatext{
      font-size: 25px;
    }

    .btnn{margin:1rem .5rem;}



  
  #footer{text-align: center;
    font-size: 12px;
    background-color: #a1a1a1;
    padding: 1% 0% 0.1% ;
    
  }
#insta{
    color:#fff;
  margin:0.2rem;
  }
   
   

  
 
